<!-- display, position 속성 각각 1번 이상 사용해서 google홈페이지 만들기 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="goeun_layout.css">
    <title>Google</title>
</head>
<body>
    <!-- inline -->
    <div class="parent1">
       <a class="inline" href="#">Google정보&nbsp;&nbsp;  </a>
       <a class="inline" href="https://play.google.com">스토어</a>
    </div>
    <!--inline-block-->
	<div class="parent2">
		<a class="inline-block" href="https://www.google.com/gmail/about/">Gmail&nbsp; &nbsp; </a>
		<a class="inline-block" href="https://www.google.co.kr/imghp?hl=ko">이미지&nbsp;</a>
        <img src="layout_img/menu.png" alt="도트무늬" style="width: 15px; height: 15px;">&nbsp;&nbsp;
        <img src="layout_img/account.png" alt="멋사" style="width: 25px; height: 25px;">
	</div>
    <div class="parent3">
       <img src="layout_img/google.png" alt="구글사진" style="width: 300px; height: 100px;">
    </div>
    <div class="child0">
        <img src="layout_img/search.png" alt="검색창" style="width: 650px; height: 100px;">
    </div>
    <div class="child1">
       <img src="layout_img/item2.png" alt="구글검색">
    </div>
    <div class="child2">
        <img src="layout_img/item1.png" alt="구글 문구">
    </div>
       
    
</body>
</html>