<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="chj_layout.css">
    <title>Google</title>
</head>

<body>
    <div class="container">
        <div class="box1">
            &nbsp;&nbsp;Google정보 &emsp;스토어
        </div>
        <div class="box2">
            Gmail&nbsp;
            이미지&emsp;
            <img src="../../layout_img/menu.png" alt="메뉴" style="width: 20px;height: 20px;margin-top: 3px;"> &emsp;
            <img src="../../layout_img/account.png" alt="계정"
                style="width: 40px;height: 40px;margin-top: -6px;">&nbsp;&nbsp;
        </div>
    </div>


    <div id="mainImg">
        <img src="../../layout_img/google.png" alt="구글" style="width: 300px;height: 25%;">
    </div>

    <div id="search">
        <img src="../../layout_img/search.png" alt="검색바" style="width: 500px;height: 5%;">
    </div>
    <div id="deco">&emsp;
        <img src="../../layout_img/item2.png" alt=""
            style="width: 100px;height: 30px;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <img src="../../layout_img/item1.png" alt="" style="width: 120px;height: 30px;">
    </div>



    <div class="box3">
        <div class="c2_box1">
            대한민국
        </div>
        <hr>
        <div class="container2">
            <div class="c2_boxL">
                광고&emsp;&emsp;
                비지니스&emsp;&emsp;
                검색의원리
            </div>
            <div class="c2_boxR">
                개인정보처리방침&emsp;&emsp;
                약관&emsp;&emsp;
                설정
            </div>
        </div>
    </div>


</body>

</html>