<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bhy_google</title>
    <link type="text/css" rel="stylesheet" href="bhy_layout.css">
</head>
<body>
    <nav>
		<a href="#">Gmail</a>
		<a href="#">이미지</a>
		<img src="../../layout_img/menu.png">
		<img src="../../layout_img/account.png">
	</nav>
	<section>
		<div>
			<article1>
				<img src="../../layout_img/google.png">
				<br>
				<img src="../../layout_img/search.png">
			</article1>
			<br>
			<article2>
				<img src="../../layout_img/item2.png">
			</article2>
			<article3>
				<img src="../../layout_img/item1.png">
			</article3>
		</div>
	</section>

</body>
</html>