<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bhy_google</title>
    <link type="text/css" rel="stylesheet" href="bhy_layout.css">
</head>
<body>
	<div id="container1">
		<section class="header">
			<div class="header__end">
				<p>Gmail</p>
				<p>이미지</p>
				<img src="../../layout_img/menu.png" width="20px" height="20px">
				<img src="../../layout_img/account.png" width="35px" height="35px">
			</div>
		</section>
	</div>
	<div id="container2">
		<section class="body">
			<div class="body__start">
				<img src="../../layout_img/google.png" width="250px" height="85px">
			</div>
			<div class="body__center">
				<img src="../../layout_img/search.png" width="500px" height="60px">
			</div>
			<br>
			<div class="body__end">
				<img src="../../layout_img/item2.png" width="90px" height="30px">
				<img src="../../layout_img/item1.png" width="120px" height="30px">
			</div>
		</section>
	</div>
</body>
</html>