<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="kyw.css">
    <title>Google</title>
</head>
<header>
    <span style="text-align: left;">Google정보&nbsp&nbsp&nbsp스토어</span>
    <span style="margin-left: 1140px;">Gmail&nbsp&nbsp&nbsp이미지&nbsp&nbsp&nbsp</span>
    <img src="../../layout_img/menu.png" height="14px" width="15px">&nbsp&nbsp&nbsp
    <img src="../../layout_img/account.png" height="23px" width="30px">
</header>
<body>
     <div class="parentImage">
        <img src="../../layout_img/google.png" width="300px" height="100px"> <br><br>
        <img src="../../layout_img/search.png" width="600px" height="70px"> <br><br>
     </div>
     <div class="childImage">   
        <img src="../../layout_img/item2.png"  width="120px" height="30px">
        <img src="../../layout_img/item1.png" width="120px" height="30px">
     </div>
</body>
</html>

           
        