<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" rel="stylesheet" href="rin_Google.css">
	<title>Google_202314009_전혜린</title>
</head>

<body>

<div class="container">
			<div class="left-items"> Google 정보</div>
			<div class="left-items">스토어</div>
			
			<div class="right-items" style="left: 1000px;">이미지</div> 
			<div class="right-items" style="left: 235px;">Gmail</div>
			
			<img class="img_box" src="../layout_img/menu.png">
			<img class="img_box" src="../layout_img/account.png">
		</div>

<center><img src="../layout_img/google.png" style="width: 350px;"></center>
<center><img src="../layout_img/search.png" style="width: 550px;"></center>

<center><img src="../layout_img/item1.png" style="width: 145px;">
		<img src="../layout_img/item2.png" style="width: 110px;"></center>

	
</body>

</html>