<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <link rel="stylesheet" href="jdu_layout.css">
</head>
<body>
    <div class="parent1">
        <span class="googleInformation"><a href="#">Goole 정보</a></span>
        <span class="store" style="margin-right:5px"><a href="#">스토어</a></span>
    </div>
    <div class="parent2">
        <span class="gmail"><a href="#">Gmail</a></span>
        <span class="image"><a href="#">이미지</a></span>
        <span class="munu"><img src="../../layout_img/menu.png" alt="menu" style="width: 16px; height: 16px"></span>
        <span class="account"><img src="../../layout_img/account.png" alt="account" style="width: 33px; height: 33px"></span>
    </div><br>

    <div class="parent3">
        <span class="google"><img src="../../layout_img/google.png" alt="google" style="width: 272px; height: 92px"></span>
    </div>
    <div class="parent4">
        <span class="search"><img src="../../layout_img/search.png" alt="search" style="width: 582px; height: 60px"></span>
    </div>
    <div class="parent5">
        <span class="item2"><img src="../../layout_img/item2.png" alt="item2" style="width: 110px; height: 36px"></span>
        <span class="item1"><img src="../../layout_img/item1.png" alt="item1" style="width: 142px; height: 36px"></span>
    </div>
    <div></div>
</body>
</html>