<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>likeLion_google</title>
    <link rel="stylesheet" href="Kge_layout.css">

</head>

<!-- --- -->

<body>

    <header class="header">
        <section class="menu1" style="padding-left: 15px; padding-top: 7px;">
            <p>Google 정보</p>
            <p>스토어</p>
        </section>


            <section class="menu2" style="margin-left: 1100px;">
                <span>Gmail</span>
                <span>이미지</span>
                <span><img class="Af" src="../../layout_img/menu.png" alt="menu" style="width: 15px; height: 15px;"></span>
                <span><img class="Bf" src="../../layout_img\account.png" alt="account" style="width: 30px; height: 30px;"></span>
            </div>
        </section>
    </header>

<br><br>

    <article>
        <section class="center" style="margin-top: 120px;">
            <div class="google">
                <img src="../../layout_img\google.png" alt="google" style="width: 300px; height: 100px;">
            </div>

            <div class="search">
                <img src="../../layout_img\search.png" alt="search" style="width: 500px; height: 50px;">
            </div>

            <div class="item2">
                <img src="../../layout_img\item2.png" alt="item2" style="width: 70px; height: 20px;">
            </div>
            
            <div class="item1">
                <img src="../../layout_img\item1.png" alt="item1" style="width: 70px; height: 20px;">
            </div>


        </section>
    </article>



    <footer>

    </footer>
</body>



</html>