<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google.com</title>
    <link rel ="stylesheet" href="ksh_layout.css">
</head>
<body>
    <header class="topHeader">
        <div class="leftHeader">Google 정보</div>
        <div class="leftHeader">스토어</div>
        
        <div class="rightHeader"><img src="../../layout_img/account.png"></div>
        <div class="rightHeader"><img src="../../layout_img/menu.png"></div>
        <div class="rightHeader">이미지</div>
        <div class="rightHeader">Gmail</div>
        
        
    </header>
    <br>

    <section>
            <img class="google"src="../../layout_img/google.png" width="272px" height="97">
            <img class="search" src="../../layout_img/search.png">
    </section>

    <div class="main_section">
        <div class="item">
        <img src="../../layout_img/item2.png">
        <img src="../../layout_img/item1.png">
        </div>
    </div>

    
</body>
</html>