<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="odj_layout.css">
    <script src="colors.js"></script>
  </head>
  <body>
    <div id="grid">
      <div id="left">Google정보&nbsp;&nbsp;&nbsp;스토어</div>
      <div id="article">
        <div id="images">
          <img src="../../layout_img/google.png" alt="구글로고" id="google">
          <img src="../../layout_img/search.png" alt="" id="search">
          <div class="buttons">
            <img src="../../layout_img/item2.png" alt="" id="item2">
            <img src="../../layout_img/item1.png" alt="" id="item1">
          </div>
        </div>
      </div>
      <div id="right">
        <div id="right1">Gmail&nbsp;&nbsp;&nbsp;이미지</div>
        <div id="right2">
          <img src="../../layout_img/menu.png" alt="" id="menu">
          <img src="../../layout_img/account.png" alt="" id="account">
        </div>
      </div>
    </div>
  </body>
</html>
