<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google.com</title>
    <link rel="stylesheet" href="jivirus_layout.css">
    
</head>

<body>
   <header>
        <div class="inline-block">
           <div class="leftheader">Google 정보</div>
           <div class="leftheader">스토어</div>
           <div class="rightheader">Gmail</div> 
           <div class="rightheader">이미지</div>
           <div class="rightheader"><img src="../../layout_img/menu.png" alt="menu"></div>
           <div class="rightheader"><img src="../../layout_img/account.png" alt="account"></div>
        </div>       
   </header>
   <section>
      <div class="centersection">
        <img src="../../layout_img/google.png" alt="google" width="300px" height="100px" ></div>
      <br>
      <div class="ccentersection">
         <img src="../../layout_img/search.png" alt="search" width="650px" height="50px" style="text-align: center;">
      </div>
      <div class="cccentersection">
         <img src="../../layout_img/item1.png" alt="img1" width="120px" height="30px">
         <img src="../../layout_img/item2.png" alt="img2" width="120px" height="30px">
      </div>
   </section>
</body>
</html>