<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google.com</title>
    <link rel="stylesheet" href="kse_layout.css">
</head>

<body>
   <header>
        <div class="inline-block">
           <div class="ib1">Google 정보</div>
           <div class="ib1">스토어</div>

           <div class="ib2">Gmail</div> 
           <div class="ib2">이미지</div>
           <div class="ib2"><img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\menu.png"></div>
           <div class="ib2"><img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\account.png"></div>
        </div>       
   </header>
   <section>
      <div class="ib3">
         <img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\google.png" alt="google" style="width: 300px;" >
      </div>
      <br>
      <div class="ib4">
         <img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\search.png" style="width: 650px;">
      </div>
      <div class="ib5">
         <img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\item1.png" style="height: 30px;">
         <img src="C:\Users\dallm\OneDrive\바탕 화면\LikeLion11th-Assignment02\layout_img\item2.png" style="height: 30px;">
      </div>
   </section>
</body>
</html>