<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google.com</title>
    <link rel="stylesheet" href="kse_layout.css">
</head>

<body>
   <header>
        <div class="ib">
           <div class="ib1">Google 정보</div>
           <div class="ib1">스토어</div>

           <div class="ib2"><img src="../../layout_img/account.png" style="width: 30px;"></div>
           <div class="ib2"><img src="../../layout_img/menu.png" style="width: 15px;"></div>
           <div class="ib2">이미지</div>
           <div class="ib2">Gmail</div> 
        </div>       
   </header>
   <section>
      <div class="ib3">
         <img src="../../layout_img/google.png" alt="google" style="width: 300px;" >
      </div>
      <br>
      <div class="ib4">
         <img src="../../layout_img/search.png" style="width: 650px;">
      </div>
      <div class="ib5">
         <img src="../../layout_img/item1.png" style="height: 30px;">
         <img src="../../layout_img/item2.png" style="height: 30px;">
      </div>
   </section>
</body>
</html>