<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="stylesheet" href="ajy_layout.css">
</head>

<body>
    <header>
        <div class="leftheader">
            <span>Google</span>
            <span>정보</span>
            <span>스토어</span>
        </div>
        <div class="rightheader">
            <span>Gmail</span>
            <span>이미지</span>
            <img id="menu" src="../../layout_img/menu.png" alt="menu">
            <img id="account" src="../../layout_img/account.png" alt="likelion">
        </div>
    </header>
    <div class="parent">
        <div class="Google">
            <img id="Google" src="../../layout_img/google.png" alt="google">
        </div>
        <div class="search">
            <img id="search" src="../../layout_img/search.png" alt="search">
        </div>
        <div class="items">
            <img src="../../layout_img/item2.png" alt="item1">
            <img src="../../layout_img/item1.png" alt="item2">
        </div>
    </div>

</body>

</html>